@media only screen {
  .FormPage { width:800px; margin: 10px; padding: 10px 50px 100px 50px; }
}

/* On an iPad, the rule below takes precedence over the one above (order is important) */
@media only screen and (device-width: 768px) {
  .FormPage { width:728px; margin: 0px; padding: 10px 20px 100px 20px; }
}

.FormPage {
  position: relative; /* necessary to have absolute children be relative to this div */
}

.ProgressMarker {
  width: 14px;
  height: 14px;
  border: solid 1px;
  -webkit-border-radius: 14px; /* radius seems to be diameter */
  -moz-border-radius: 14px;
  border-radius: 14px; 
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 100;
}
.ProgressMarker[AnswerProgress="Unanswered"] {
  color: #bbb;
  background-color: white;
}
.ProgressMarker[AnswerProgress="Answered"] {
  color: blue;
  background-color: lightblue;
}
.ProgressMarker[AnswerProgress="Invalid"] {
  color: red;
  background-color: #fdd;
}

.ProgressLine {
  border: solid: 1px;
  position: absolute;
}
.ProgressLine[Orientation="Vertical"] {
  width: 2px;
  right: 27px;         /* Y-position for progress line in the margin */
}
.ProgressLine[Orientation="Horizontal"] {
  height: 2px;
}
.ProgressLine.Connected {
  background-color: blue;
}
.ProgressLine.Disconnected {
  background-color: #ddd;
}

.NextButton Button {
  z-index: 100; /* need position:relative for z-index to have effect */
}
.SendButton Button {
  position: relative;
  z-index: 100; /* need position:relative for z-index to have effect */
}


.FormTable {
  border-collapse: collapse;
}

.TableAlgemeen {
}

.TableStellingen {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.TableStellingen .LeftCol {
  border-width: 1px;
  vertical-align: middle;
  border-left-style: solid;
  border-left-color: black;
  border-right-style: solid;
  border-right-color: black;
}
.TableStellingen .RightCol {
  border-width: 1px;
  border-right-style: solid;
  border-right-color: black;
}
.TableStellingen .TopRow {
  border-bottom-style: solid;
  border-bottom-color: #eee;
}
.TableStellingen .MiddleRow {
  border-bottom-style: solid;
  border-bottom-color: #eee;
}
.TableStellingen tr:nth-child(even) {
  background-color: #f8f8f8;
}


.TableVignetteOmschr td {
  border-color: black;
  border-width: 2px;
  border-style: none;
}
.TableVignetteOmschr .LeftCol {
  border-color: black;
  background-color: #eee;
  border-right-style: solid;
  border-left-style: none;
}
.TableVignetteOmschr .MiddleCol {
  width: 250px;
  text-align: center;
}
.TableVignetteOmschr .RightCol {
  width: 250px;
  text-align: center;
}

.TableVignetteOmschr .TopRow.LeftCol {
  border-color: black;
  border-style: none solid solid none;
  background-color: #fff;
}
.TableVignetteOmschr .TopRow.MiddleCol {
  border-style: solid solid none none;
  background-color: #eee;
}
.TableVignetteOmschr .TopRow.RightCol {
  border-color: black;
  border-style: solid solid solid none;
  background-color: #eee;
}
.TableVignetteOmschr .MiddleRow {
  border-bottom-color: #ddd;
  border-right-color: black;
  border-style: solid;
}
.TableVignetteOmschr .BottomRow {
  border-bottom-color: black;
  border-style: solid;
}


.TableVignetteVragen {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.TableVignetteVragen .LeftCol {
}
.TableVignetteVragen .RightCol {
  width: 200px;
}
.TableVignetteVragen .MiddleRow {
  border-width: 1px;
  border-color: #ddd;
  border-bottom-style: solid;
  border-top-style: solid;
}

.TableVignetteKiezen .LeftCol {
  vertical-align: middle;
}
