textarea {
	resize: none;
}

button {
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
	background-color: lightgrey;
}
button[selected] {
	background-color: #04f;
	color: white;
}
.RemoveButton button:enabled {
	background-color: red;
	color: white
}

.CalendarHeader button {
	width: 6em;
}

.dialogContainer { /* make dialog width smaller for embedded view on website */
  width: 182px; /* is desired dialog max-width + 2*border + 2*padding */
  margin-left: -91px; /* -(container width / 2) */
}


#root {
    background: url('/img/background_linen.png') repeat scroll center top transparent;
}
.RestaurantWrapperView, .ClientWrapperView {
	margin-top: 10px;
	padding: 10px;
  background-color: white;
  border: solid black 1px;
  border-radius: 6px;            /* standard */
  -webkit-border-radius: 6px;    /* for older Safari */
  -moz-border-radius: 6px;       /* for older Firefox (<13) */
  -khtml-border-radius: 6px;     /* not sure for which one this is */
  
}
.RestaurantView, .ClientView {
	background-color: white;
	padding: 5px;
}

/* On an iPad, the rules below takes precedence over the rules above (order is important) */
@media only screen and (device-width: 768px) {
}


@media screen and (max-device-width: 480px) /* and (orientation:portrait) */ {
	.ClientWrapperView {
	  background-color: transparent;
    font-size: 20px;
    color: lightgrey;
    margin-top: 1px;
    padding: 0px;
    border: none black 0px;
    border-radius: 0px;
  }
  input[type="text"], textarea {
    font-size: 16px;
  }
  button {
    height: 20px;
    margin-bottom: 3px;
  }
  .clientView {
    background-color: transparent;
    padding: 0px;
  }
}
