.FormPage { width:800px; margin: 10px; padding: 10px 50px 100px 50px; }

/* On an iPad, the rule below takes precedence over the one above (order is important) */
@media only screen and (device-width: 768px) {
  .FormPage { width:708px; margin: 0px; padding: 10px 40px 100px 20px; }
  div.ProgressMarker { right: 12px; } /* div to make rule more specific */
  div.ProgressLine[Orientation="Vertical"] { right: 19px; }
}

.FormPage {
  position: relative; /* necessary to have absolute children be relative to this div */
}

.ProgressMarker {
  width: 14px;
  height: 14px;
  border: solid 1px;
  -webkit-border-radius: 14px; /* radius seems to be diameter */
  -moz-border-radius: 14px;
  border-radius: 14px; 
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 100;
}
.ProgressMarker[AnswerProgress="Unanswered"] {
  color: #bbb;
  background-color: white;
}
.ProgressMarker[AnswerProgress="Answered"] {
  color: blue;
  background-color: lightblue;
}
.ProgressMarker[AnswerProgress="Invalid"] {
  color: red;
  background-color: #fdd;
}

.ProgressLine {
  position: absolute;
}
.ProgressLine[Orientation="Vertical"] {
  width: 2px;
  right: 27px;         /* Y-position for progress line in the margin */
}
.ProgressLine[Orientation="Horizontal"] {
  height: 2px;
}
.ProgressLine.Connected {
  background-color: blue;
}
.ProgressLine.Disconnected {
  background-color: #ddd;
}

.NextButton Button, .SendButton Button {
  position: relative;
  z-index: 100; /* need position:relative for z-index to have effect */
}

.ButtonAnswerSep { /* Minimum distance between answer buttons */
  width: 8px;
}