table { /* for some weird reason tables don't inherit font and color by default */
  font: inherit;
  color: inherit
  border-spacing:0;
  border-collapse: collapse;
}
table td, table th {
  padding: 0;
}

.roundedBorder
{
  border:solid; 
  border-width:1px;
  margin: 0px 0px 0px 0px;
  padding: 3px;
  /* Rounded corner stuff starts here */
  border-radius: 6px;            /* standard */
  -webkit-border-radius: 6px;    /* for older Safari */
  -moz-border-radius: 6px;       /* for older Firefox (<13) */
}

.tab
{
  font-size: 70%;
  border:solid; 
  border-width:1px;
  border-bottom-width:0px;
  width: 95%;
  margin: 0px;
  padding: 5px 10px;
  /* Rounded corner stuff starts here */
  border-top-left-radius: 6px;            /* standard */
  border-top-right-radius: 6px;           /* standard */
  -webkit-border-top-left-radius: 6px;    /* for older Safari */
  -webkit-border-top-right-radius: 6px;   /* for older Safari */
  -moz-border-radius-topleft: 6px;        /* for older Firefox (<13) */
  -moz-border-radius-topright: 6px;       /* for older Firefox (<13) */
}

.ellipsis {
        white-space: nowrap;
        overflow: hidden;
}

.ellipsis.multiline {
        white-space: normal;
}


/* don't make links blue/purple and underlined */
a {
	color: currentColor;
	text-decoration: inherit! important
}

/* default style of gui elements, can be overridden in project-specific css */
.SelectableView.Selected {
  background-color: #33f;
  border-width: 2px;
  border-style: solid;
  padding: 3px;
  color: #000;
}
.SelectableView.Selected div {
  color: #fff;
}

.SelectableView.Deselected {
  background-color: #eee;
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  color: #000;
}
