table { /* for some weird reason tables don't inherit font and color by default */
  font: inherit;
  color: inherit
}

.roundedBorder
{
  border:solid; 
  border-width:1px;
  margin: 0px 0px 0px 0px;
  padding: 3px;
  /* Rounded corner stuff starts here */
  border-radius: 6px;            /* standard */
  -webkit-border-radius: 6px;    /* for older Safari */
  -moz-border-radius: 6px;       /* for older Firefox (<13) */
}

.tab
{
  font-size: 70%;
  border:solid; 
  border-width:1px;
  border-bottom-width:0px;
  width: 95%;
  margin: 0px;
  padding: 5px 10px;
  /* Rounded corner stuff starts here */
  border-top-left-radius: 6px;            /* standard */
  border-top-right-radius: 6px;           /* standard */
  -webkit-border-top-left-radius: 6px;    /* for older Safari */
  -webkit-border-top-right-radius: 6px;   /* for older Safari */
  -moz-border-radius-topleft: 6px;        /* for older Firefox (<13) */
  -moz-border-radius-topright: 6px;       /* for older Firefox (<13) */
}

.ellipsis {
        white-space: nowrap;
        overflow: hidden;
}

.ellipsis.multiline {
        white-space: normal;
}


/* don't make links blue/purple and underlined */
a {
	color: currentColor;
	text-decoration: inherit! important
}
